body {
  background-color: lightgray;
}

.title {
  font-size: 50px;
  text-shadow: 1px 1px 1px;
  color: teal;
  text-align: center;
}

a:link, a:visited {
  background-color: #gray;
  color: teal;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkgray;
}
