body {
  background-image: url("../Images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 50px;
  text-shadow: 1px 1px 1px;
  color: white;
  text-align: center;
}

a:link, a:visited {
  background-color: #gray;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: violet;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: sticky;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: violet;
}
